<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather checking</title>
</head>
<body>
    <h1>Weather checking</h1>
    <form method="post" action="/result">
        <label>Start point (lan, lon):</label>
        <input type="text" name="start" required>
        <br>
        <label>Finish point (lan, lon):</label>
        <input type="text" name="end" required>
        <br>
        <button type="submit">Check</button>
    </form>
</body>
</html>